<appSettings>
  <add key="ida:AppID" value= "`Azure app id`" />
  <add key="ida:AppPassword" value="`Azure app secret`" />
  <add key="ida:RedirectUri" value="http://localhost:44302" />
  <add key="ida:AppScopes"
       value="User.Read Mail.Read MailboxSettings.ReadWrite User.Read.All Directory.Read.All AuditLog.Read.All" />
  <add key="ida:OutputFolderLocation" value="C:\AzureAdLateralMovement\" />
  <add key="ida:IsCosmosDbGraphEnabled" value="false" />
  <add key="ida:EndpointUrl" value="https://`CosmosDbEndPoint`.documents.azure.com:443/" />
  <add key="ida:AuthorizationKey" value="`CosmosDbEndPoint AuthorizationKey" />
</appSettings>