<appSettings>
  <add key="ida:AppID" value="44729e22-32b4-42c5-ac95-fcd4c2cee4f1" />
  <add key="ida:AppPassword" value="82YVH/slM8TOT9/OJvaU:UCVMZes/r:R" />
  <add key="ida:RedirectUri" value="https://azureadlateralmovementgraph.azurewebsites.net/" />
  <add key="ida:AppScopes"
       value="User.Read Mail.Read MailboxSettings.ReadWrite User.Read.All Directory.Read.All AuditLog.Read.All" />
  <add key="ida:OutputFolderLocation2" value="C:\AzureAdLateralMovement\" />
  <add key="ida:OutputFolderLocation" value="D:\local\Temp\AzureAdLateralMovement\" />
  <add key="ida:IsCosmosDbGraphEnabled" value="true" />
  <add key="ida:EndpointUrl" value="https://fetchgraph.documents.azure.com:443/" />
  <add key="ida:AuthorizationKey" value="YXxN5zR9YO0upppCAyvgKJCxeBdRcWhrGRztHKIPssO3fuVA03WwwuCvWWMZVjDiJvAvpWdImFIjTvMFzwbCfQ==" />
</appSettings>
